<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-3 border bg-light dashboard">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
     <div class="col-md-9 pl-2">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
    <div id="mainPage">
      <div class="pageWrapper">
        <h1 class="text-center">BASIC FACEBOOK</p>
        <p>basically our website, just like its name, is a basic version of facebook, but with your contibution it will become better and better every time</p>
        <div class="buttonWrapper w-50 mx-auto">
          <div class="insider"></div>
          <%= link_to "Sign up now", signup_path %>
        </div>
      </div>
    </div>
<% end %>