<% provide(:title, "Home") %>
<div class="jumbotron w-75 mx-auto">
    <h1 class="display-4 text-center">Welcome to the basic facebook</h1>
    <p class="lead text-center">This is a basic version of facebook, i made this for the purpose of learning about rails, the source code is available on github</p>
    <hr class="my-4">
    <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary w-25 mx-auto d-block" %>
</div>