<h1>Sample App</h1>

<p>Hi <%= @user.name %>, </p>

<p>
Welcome to the Basic Facebook! Click on the link below to activate your account:
</p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
<p class="text-primary">Thanks for your registration</p>
<p>If there is any problem with the website, please contact to my <a href="#">Facebook account</a></p>
