<% provide(:title,@user.name) %>
<div class="row border border-left-0 w-75 ml-4  profile">
    <div class="col-sm-3 ml-0 pl-0"><%= gravatar_for(@user,size: 200) %></div>
    <div class="col-sm-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
