@import "bootstrap";
html,body{
  height: 100%;
}
.justify-form{
    width: 45%;
    img{
        width: 30px;
        height: 30px;
    }
}
.small-size{
  font-weight: normal;
  font-size: 12px;
}
#error_explanation{
    ul{
        font-size: 15px;
        color: red;
        margin-left: 20px;
    }
}


.users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid gray;
    }
  }

  
  
  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }
  
  span.picture {
    margin-top: 10px;
    input {
      border: 0;
    }
  }
.incMargin{
  margin-top: 100px;
}
