@import "bootstrap";
.justify-form{
    width: 40%;
    img{
        width: 30px;
        height: 30px;
    }
}

#error_explanation{
    ul{
        font-size: 15px;
        color: red;
        margin-left: 20px;
    }
}


.users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid gray;
    }
  }