// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile{
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    box-shadow: 3px 3px 3px #ececec;
    .name{
        font-size: 25px;
    }
    .status{
        color: #827676;
        font-size: 18px
    }
    .data-value{
        font-size: 25px
    }
}