<footer class="navbar navbar-expand-sm nav-light">
    <div class="project-info mt-3">Project: Basic Facebook<span class="mx-4"></span>Developer: loliFanboy</div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "Source code", "#"%></li>
        <span class="mx-4"></span>
        <li class="nav-item"><%= link_to "About", "#" %></li>
    </ul>
</footer>