<footer class="navbar navbar-expand-sm nav-light">
    <div class="project-info mt-3">Project: Basic Facebook<span class="mx-4"></span>Developer: loliFanboy</div>
    <div class="project-info ml-auto mt-3">
        <%= link_to "Source code", "#"%>
        <span class="mx-4"></span>
        <%= link_to "About", "#" %>
    </div>
</footer>